
.container {
  margin-top: 1.6875rem;
}

.header {
  font-size: 0.875rem;
  line-height: 1.5715;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.address {
  font-size: 0.875rem;
  line-height: 1.5715;
  font-style: normal;
  margin: 0.25rem 0 0;
}

.address > span {
  display: block;
}

.street {
  text-transform: uppercase;
}

.city {
  text-transform: uppercase;
}