:root {
  --white: #fff;
  --black: #000;
  --text: #1d1d1d;
  --label: #5a5a5a;
  --main-background: #e5e5e5;
  --button-background: #757575;
  --label-background: #d1d1d1;
}

body {
  background-color: var(--main-background);
  color: var(--text);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

/* Use Flex to center the modal horizontally and vertically in the viewport */
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

strong,
b {
  font-weight: 700;
}
